[Unit]
Description=Flic Buttons Service
After=bluetooth.service

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/flicd -w -s 0.0.0.0 -p 5551 -l /var/log/flic_log -f /var/flic.db
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
